<!-- Call To Action Section -->
<section id="call-to-action" data-aos="fade-up">
  <div class="container text-center">
    <h3>{{ site.data.sitetext.call-to-action.title | default: 'Announcement' }}</h3>
    <p>{{ site.data.sitetext.call-to-action.desc | default: "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals" }}</p>
    <a class="cta-btn" href="{{ site.data.sitetext.call-to-action.buttonlink | default: '#' }}">
      {{ site.data.sitetext.call-to-action.button | default: 'More' }}
    </a>
  </div>
</section>
<!-- #call-to-action -->