<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6 order-xl-0 order-md-0 mb-4" data-aos="fade-up">
        <h2>{{ site.data.footer.title | default: site.title }}</h2>
        <p>{{ site.data.footer.description | default: site.description }}</p>
        <!-- Social Media -->
        <ul class="list-inline" data-aos="fade-up">
          {% for link in site.data.footer.social %}
          <li class="list-inline-item my-4">
            {% if link.url %}
            <a class="social-buttons" href="{{ link.url }}" target="_blank">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <p class="d-none d-xl-block">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span></p>
      </div>
      <div class="col-xl col-md-6 order-xl-1 order-md-2 mb-4" data-aos="fade-up">
        <h2>Information</h2>
        <ul class="list-unstyled">
          {% for link in site.data.footer.legal %}
            {% if link.title %}
            <li>
              <a href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}" target="_blank" class="py-2 d-block">
                {{ link.title }}
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-xl col-md-6 order-xl-2 order-md-3 mb-4" data-aos="fade-up">
        <h2>Links</h2>
        <div class="row">
          <div class="col col-xl-12 col-md col-sm-12 col-12">
            <ul class="list-unstyled mb-0">
              {% for link in site.data.footer.pages.left %}
                {% if link.title %}
                <li>
                  <a href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}" target="_blank" class="py-2 d-block">
                    {{ link.title }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col col-xl-12 col-md col-sm-12 col-12">
            <ul class="list-unstyled mt-0">
              {% for link in site.data.footer.pages.right %}
              {% if link.title %}
                <li>
                  <a href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}" target="_blank" class="py-2 d-block">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 order-xl-3 order-md-1 mb-4" data-aos="fade-up">
        <h2>Have a Questions?</h2>
        <ul class="fa-ul">
          {% for link in site.data.footer.reach %}
          {% if link.title %}
          <li class="mb-4 ps-3">
            <span class="fa-li"><i class="{{ link.icon | default: 'fas fa-info' }}"></i></span>
            {% if link.url %}
            <a href="{{ link.url }}" target="_blank"><span class="text">{{ link.title }}</span></a>
            {% else %}
            <span class="text">{{ link.title }}</span>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        <p class="d-xl-none my-5">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span></p>
      </div>
    </div>
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
<!-- End Footer -->