---
layout: page
title: Gallery
permalink: /gallery
---
<!-- Gallery -->
<div class="container pt-5">
  <div class="text-center py-3">
    <h2 class="text-uppercase mb-1">{{ site.data.gallery.title | default: 'OUR GALLERY'}}</h2>
    <p class="fs-5 text-muted">{{ site.data.gallery.desc | default: 'Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia.'}}</p>
  </div>
  <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
    </li>
    {% for project in site.data.gallery.list %}
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-{{ project.name }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ project.name }}" type="button" role="tab" aria-controls="pills-{{ project.name }}" aria-selected="false">{{ project.name | default: 'first' | upcase }}</button>
    </li>
    {% endfor %}
  </ul>  
</div>
<div class="container-fluid">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
      {% for inc in site.data.gallery.list %}
      <div class="row my-5 text-center" id="{{ inc.name | default: 'first'}}">
        <h1 class="display-3 my-0">{{ inc.name | upcase }}</h1>
      </div>
      <div class="row">
        {% for project in inc.images %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-12" style="padding: 0px;">
          <div class="project">
            <img src="{{ project.img }}" class="img-fluid" alt="{{ project.name }}">
            <div class="text">
              <span>{{ project.name }}</span>
              <h3><a href="{{ project.link }}">{{ project.type }}</a></h3>
            </div>
            <a href="{{ project.img }}" class="icon image-popup d-flex justify-content-center align-items-center">
              <i class="fas fa-expand-alt"></i>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% for inc in site.data.gallery.list %}
    <div class="tab-pane fade" id="pills-{{ inc.name }}" role="tabpanel" aria-labelledby="pills-{{ inc.name }}-tab">
      <div class="row my-5 text-center" id="{{ inc.name | default: 'first'}}">
        <h1 class="display-3 my-0">{{ inc.name | upcase }}</h1>
      </div>
      <div class="row">
        {% for project in inc.images %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-12" style="padding: 0px;">
          <div class="project">
            <img src="{{ project.img }}" class="img-fluid" alt="{{ project.name }}">
            <div class="text">
              <span>{{ project.name }}</span>
              <h3><a href="{{ project.link }}">{{ project.type }}</a></h3>
            </div>
            <a href="{{ project.img }}" class="icon image-popup d-flex justify-content-center align-items-center">
              <i class="fas fa-expand-alt"></i>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>  
</div>
<!-- End Gallery -->