// Styling for the masthead
header.masthead::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
header.masthead
{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  background-position: center center;  
  background-size: cover;
}

// Styling for the pagehead
.pagehead {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 50vh;
  background-position: center center;  
  background-size: cover;
  background-image: url('/assets/img/bg-1.png');
}

.intro-text {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    @include heading-font;
}