// Global styling for this template
body {
  overflow-x: hidden;
  background: #f5f2ea;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

.bg-light {
  background: #ebe8de !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

h2 {
  margin-bottom: 40px;
  font-size: 30px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.section-header h3 {
  font-size: 32px;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgba($primary,0.5);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: $primary;
  bottom: 0;
  left: calc(50% - 20px);
}

.lightbg {
  background: #f5f2ea;
}

.page-section {
  min-height: 100vh;
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
